<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>TFU - Opis wydarzenia</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style_home.css">
    <link rel="stylesheet" type="text/css" href="css/bsstyle.css">
</head>
<body>
<header>
    <div class="container-fluid header-style">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
                <img src="images/16597512641621316808-128.png" style="width: 48px" alt="Logotype">
            </div>
            <div class="col-md-3">
                <ul class="nav col-10 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-right: 400px">
                    <li><a href="/main" class="nav-link px-2 text-secondary">Strona główna</a></li>
                    <li><a href="/allEvents" class="nav-link px-2 text-white">Lista wydarzeń</a></li>
                    <li><a href="/faq" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="/aboutUs" class="nav-link px-2 text-white">O nas</a></li>
                    <li><a href="/contact" class="nav-link px-2 text-white">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <form class="form-header-button" style="display:inline!important" action="#" method="post" th:action="@{/login}">
                    <button type="submit" name="login" class="btn btn-outline-light me-2 button-header">Zaloguj się</button>
                </form>
                <form class="form-header-button" style="display:inline!important" action="#" method="post" th:action="@{/register}">
                    <button type="submit" name="register" class="btn btn-warning">Rejestracja</button>
                </form>
                <img src="images/pl.png" style="width: 32px; margin-left: 50px; margin-right: 20px" alt="pl">
                <img src="images/en.png" style="width: 32px; margin-right: 20px" alt="pl">
                <img src="images/de.png" style="width: 32px; " alt="pl">
            </div>
        </div>
    </div>
</header>



<main>


    <div class="mx-5 my-2 bg-light rounded-3" >
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Opis wydarzenia</li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="container jumbo">
        <h1 class="display-5 fw-bold">Opis wydarzenia</h1>
    </div>



    <div class="container" style="text-align: center">
        <img src="images/events/stage-336695_640.jpg" alt="Koncert">
    </div>

    <div class="container" style="text-align: center">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="text-align: center">
                <p class="event-title">Nazwa wydarzenia</p>
            </div>
            <div class="col-md-1">
                <a href=""><img src="images/heart-bw.png" alt="Ulubione" class="heart-image"></a>
            </div>
            <div class="col-md-1">
                <a href=""><img src="images/buy.png" alt="Kup teraz" class="buy-image"></a>
            </div>
            <div class="col-md-1">
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row event-description">
            <div class="col-md-3">
                <p class="event-left-description">Nazwa wydarzenia</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description">
            <div class="col-md-3">
                <p class="event-left-description">Opis</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description">
            <div class="col-md-3">
                <p class="event-left-description">Termin</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description">
            <div class="col-md-3">
                <p class="event-left-description">Początek</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description">
            <div class="col-md-3">
                <p class="event-left-description">Koniec</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description">
            <div class="col-md-3">
                <p class="event-left-description">Miejsce</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description">
            <div class="col-md-3">
                <p class="event-left-description">Cena</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description">
            <div class="col-md-3">
                <p class="event-left-description">Strona wydarzenia</p></p>
            </div>
            <div class="col-md-9" style="margin-bottom: 30px">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
    </div>

</main>



<div class="p-3 bg-dark text-white" style="margin-top: 30px">
    <footer class="footer mt-5 mb-1 bg-light bg-dark text-white">
        <div class="container">
            <span class="footer">&copy 2021, <a href = "mailto: kontakt@xyz.pl" class="footer">kontakt@xyz.pl</a></span>
        </div>
    </footer>
</div>




<script type="text/javascript" src="../static/js/popper.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>

</body>
</html>
